<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.webServer>
        <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false"
                    stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
        <applicationInitialization>
            <add initializationPage="/" />
        </applicationInitialization>

        <handlers>
            <remove name="WebDAV" />
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <remove name="OPTIONSVerbHandler" />
            <remove name="TRACEVerbHandler" />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        </handlers>
        <modules>
            <remove name="WebDAVModule" />
        </modules>
    </system.webServer>
    <system.applicationHost>
        <applicationPools>
            <add name="DefaultAppPool">
                <processModel idleTimeout="00:00:00" />
                <recycling>
                    <periodicRestart time="00:00:00" />
                </recycling>
            </add>
        </applicationPools>
    </system.applicationHost>
</configuration>